.gradient {
    background: rgb(124,132,148);
    background: linear-gradient(90deg, rgba(124,132,148,1) 0%, rgba(103,113,119,1) 50%, rgba(0,22,35,1) 100%);
}

html, body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Ramaraja', serif;
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #fff;
}

.feature {
    color: #fff;

}

.feature ul {
    padding-left: 2rem;
    list-style-type: none;
}


.feature ul li {
    padding-left: 2rem;
    background-image:url(img/check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}


.icon {
    color:#fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}